{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
  <h2>Resumes</h2>
  <table>
    <thead>
      <tr>
        <th>Resume Name</th>
        <th>File Name</th>
        <th>Uploaded Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for resume in resumes %}
        <tr>
          <td>{{ resume.name }}</td>
          <td>{{ resume.file.name|get_filename }}</td>
          <td>{{ resume.uploaded_at }}</td>
          <td>
            <a href="{{ resume.file.url }}">Download</a>
            <!-- Add delete button and form for deleting the resume -->

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2>Upload Resume</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Upload</button>
  </form>
{% endblock %}
