{% extends 'base.html' %}

{% load custom_filters %}

{% block content %}
  <h2>Resumes</h2>
  <table>
    <thead>
      <tr>
        <th>Resume Name</th>
        <th>File Name</th>
        <th>Uploaded Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for resume in resumes %}
        <tr>
          <td>
            <form method="post" action="{% url 'rename_resume' resume.id %}">
              {% csrf_token %}
              <input type="text" name="new_name" value="{{ resume.name }}">
              <button type="submit">Rename</button>
            </form>
          </td>
          <td>{{ resume.file.name|get_filename }}</td>
          <td>{{ resume.uploaded_at }}</td>
          <td>
            <a href="{{ resume.file.url }}" download>Download</a>
            <form method="post" action="{% url 'delete_resume' resume.id %}">
              {% csrf_token %}
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
