<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Seek Platform</title>
</head>
<body>
    <header>Welcome to Job Seek Platform</header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}">Home</a> </li>
                {% if request.user.profile.role == 'recruiter' %}
                    <li><a href="{% url 'job_posting_wizard' step='company_details' %}">Post Jobs</a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}">Logout</a> </li>
            {% else %}
                <li><a href="{% url 'base_view' %}">Home</a> </li>
                <li><a href="{% url 'login' %}">Login</a> </li>
                <li><a href="{% url 'register' %}">Create an account</a> </li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>