{% extends 'base.html' %}

{% block content %}
    {% if username %}
        <h2>Welcome to the Job Seek Platform, {{ username }}!</h2>
    {% else %}
        <h2>Welcome to the Job Seek Platform!</h2>
    {% endif %}

    <form action="" method="GET">
        {{ form.as_table }}
        <button type="submit">Seek Jobs</button>
    </form>

    {% for job in jobs %}
        <h3><a href="{% url 'job_details' job_id=job.id %}">{{ job.title }}</a>, {{ job.job_loctype }}</h3>
        <p>{{ job.salary }} {{ job.job_type }}</p>
        <p>{{ job.schedule }}</p>
        <li>{{ job.description }}</li>

        <!-- Display other job information as needed -->
    {% empty %}
        <p>No Jobs found.</p>
    {% endfor %}
{% endblock %}
