{% extends 'base.html' %}

{% block content %}
  <h2>Applying for position: {{ job.title }}</h2>
  <h3>Company: {{ job.company }}</h3>

  <form id="jobApplicationForm" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.visible_fields %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
      <div class="form-group">
        {{ field.label_tag }}
        {% if field.name == 'resume_file' %}
          {% if form.resume_file.value %}
            <div id="resumePreviewBox">
              {% if form.resume_file.value.name.lower|slice:"-4:" == ".pdf" %}
                <embed src="{{ form.resume_file.value.url }}" type="application/pdf" width="100%" height="600px">
              {% elif form.resume_file.value.name.lower|slice:"-5:" == ".docx" %}
                <iframe src="https://view.officeapps.live.com/op/embed.aspx?src={{ form.resume_file.value.url }}" width="100%" height="600px" frameborder="0">This browser does not support viewing Docx files. Please download the file to view it.</iframe>
              {% else %}
                <p>{{ form.resume_file.value }}</p>
              {% endif %}
            </div>
            <br>
          {% endif %}
          <div>
            <input type="file" name="{{ field.name }}" id="{{ field.auto_id }}" class="form-control-file">
            <small id="chooseResumeBtnText" class="form-text text-muted">Click here to choose a new resume</small>
          </div>
        {% else %}
          {{ field }}
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Apply</button>
  </form>

  <script>
  // Choose resume button click event handler
  document.getElementById('chooseResumeBtnText').addEventListener('click', function() {
    document.getElementById('{{ form.resume_file.auto_id }}').click();
  });

  // Resume file field change event handler
  document.getElementById('{{ form.resume_file.auto_id }}').addEventListener('change', function() {
    var selectedResumeFile = document.getElementById('{{ form.resume_file.auto_id }}').files[0];
    var resumePreviewBox = document.getElementById('resumePreviewBox');

    while (resumePreviewBox.firstChild) {
      resumePreviewBox.firstChild.remove();
    }

    if (selectedResumeFile.name.endsWith('.pdf')) {
      var newResumePreview = document.createElement('embed');
      newResumePreview.src = URL.createObjectURL(selectedResumeFile);
      newResumePreview.type = 'application/pdf';
      newResumePreview.width = '100%';
      newResumePreview.height = '600px';

      resumePreviewBox.appendChild(newResumePreview);
    } else if (selectedResumeFile.name.endsWith('.docx')) {
      var newResumePreview = document.createElement('iframe');
      newResumePreview.src = "https://view.officeapps.live.com/op/embed.aspx?src=" + URL.createObjectURL(selectedResumeFile);
      newResumePreview.width = '100%';
      newResumePreview.height = '600px';
      newResumePreview.frameBorder = '0';
      newResumePreview.innerText = 'This browser does not support viewing Docx files. Please download the file to view it.';

      resumePreviewBox.appendChild(newResumePreview);
    } else {
      var newResumePreview = document.createElement('p');
      newResumePreview.innerText = selectedResumeFile.name;

      resumePreviewBox.appendChild(newResumePreview);
    }
  });
  </script>
{% endblock %}
