{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
    {{ form.media }}
{% endblock %}

{% block content %}
    <h1>Job Application</h1>
    <p>Job: {{ job.title }}</p>
    <p>Company: {{ job.company }}</p>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form.visible_fields %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field|as_crispy_field }}
                {{ field.errors }}
            </div>
        {% endfor %}

        {% for question in job.questions.all %}
            <div class="form-group">
                <label for="id_question_{{ question.id }}">{{ question.question }}</label>
                {{ form[f'question_{question.id}']|as_crispy_field }}
                {{ form.errors.get(f'question_{question.id}') }}
            </div>
        {% endfor %}

        <button type="submit">{% translate "Submit" %}</button>
    </form>
{% endblock %}
